html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  margin: 0 auto;
  margin-bottom: 1em;
}

section {
  display: flex;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  font-weight: bold;
  font-size: 1rem;
}

h3 {
  font-weight: normal;
  font-style: italic;
  font-size: .875rem;
  margin: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.img {
  width: 100px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  padding: .75rem;
}

.section h3 {
  flex-grow: 1;
}

.btn {
  display: block;
  padding: .25rem;
  background-color: #333;
  border: 3px solid #333;
  border-radius: 8px;
  text-decoration: none;
}

.btn-small {
  color: #fff;
}

.btn:hover, .btn-small:hover {
  background-color: #000;
  border-color: #000;
}

/* Specific div 1 2 3 4 */

.one {
  background-color: #e2e2e2;
}

.two {
  background-color: #ccc;
}

.three {
  background-color: #aaa;
}

.four {
  background-color: #999;
}
